<!DOCTYPE html>
<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content=" ">
<title>Documentation Guide | THREDDS Documentation</title>
<link rel="stylesheet" href="css/syntax.css">


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="css/modern-business.css">
<link rel="stylesheet" href="css/lavish-bootstrap.css">
<link rel="stylesheet" href="css/customstyles.css">
<link rel="stylesheet" href="css/theme-blue.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="js/jquery.navgoco.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
<script src="js/toc.js"></script>
<script src="js/customscripts.js"></script>

<link rel="shortcut icon" href="images/favicon.ico">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="alternate" type="application/rss+xml" title="" href="www.unidata.ucar.edufeed.xml">

    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container topnavlinks">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="fa fa-home fa-lg navbar-brand" href="index.html">&nbsp;<span class="projectTitle"> THREDDS Documentation</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- entries without drop-downs appear here -->
                
                <!-- entries with drop-downs appear here -->
                <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->
                
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">THREDDS Source<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        
                        
                        <li><a href="https://github.com/Unidata/THREDDS" target="_blank">netCDF-Java and TDS Github Repo</a></li>
                        
                        
                        
                        <li><a href="https://github.com/Unidata/Rosetta" target="_blank">Rosetta Github Repo</a></li>
                        
                        
                        
                        <li><a href="https://github.com/Unidata/siphon" target="_blank">Siphon Github Repo</a></li>
                        
                        
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tutorial<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        
                        
                        <li><a href="tds_tutorial_index.html">THREDDS Data Server Tutorial</a></li>
                        
                        
                        
                        <li><a href="netcdf_java_tutorial_index.html">netCDF-Java Tutorial</a></li>
                        
                        
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">External Docs<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        
                        
                        <li><a href="https://www.unidata.ucar.edu/software/rosetta/docs/" target="_blank">Rosetta</a></li>
                        
                        
                        
                        <li><a href="https://siphon.readthedocs.io/en/latest/#" target="_blank">Siphon</a></li>
                        
                        
                    </ul>
                </li>
                
                
                
			<li><a class="email" title="Submit feedback" href="#" onclick="javascript:window.location='mailto:support-thredds@unidta.ucar.edu?subject=THREDDS Documentation Feedback f eedback&body=I have some feedback about the Documentation Guide page: ' + window.location.href;"><i class="fa fa-envelope-o"></i> Feedback</a><li>

		
                <!--comment out this block if you want to hide search-->
                <li>
                    <!--start search-->
                    <div id="search-demo-container">
                        <input type="text" id="search-input" placeholder="search...">
                        <ul id="results-container"></ul>
                    </div>
                    <script src="js/jekyll-search.js" type="text/javascript"></script>
                    <script type="text/javascript">
                            SimpleJekyllSearch.init({
                                searchInput: document.getElementById('search-input'),
                                resultsContainer: document.getElementById('results-container'),
                                dataSource: 'search.json',
                                searchResultTemplate: '<li><a href="{url}" title="Documentation Guide">{title}</a></li>',
                    noResultsText: 'No results found.',
                            limit: 10,
                            fuzzy: true,
                    })
                    </script>
                    <!--end search-->
                </li>
            </ul>
        </div>
        </div>
        <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
    <div class="col-lg-12">&nbsp;</div>
    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">

          







<ul id="mysidebar" class="nav">
    <li class="sidebarTitle">netCDF-Java Tutorial 5.0.0</li>
    
    
    
        
    
    <li>
        <a href="#">Overview</a>
        <ul>
            
            
            
            <li><a href="common_data_model_overview.html">The Common Data Model</a></li>
            
            
            
            
            
            
            <li><a href="building_from_source.html">Building from Source</a></li>
            
            
            
            
        </ul>
        
        
    
    <li>
        <a href="#">netCDF-Java Reference Docs</a>
        <ul>
            
            
            
            <li class="active"><a href="ncj_doc_guide.html">netCDF-Java and TDS Doc Guide</a></li>
            
            
            
            
        </ul>
        
        
        
        <!-- if you aren't using the accordion, uncomment this block:
           <p class="external">
               <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
           </p>
           -->
    </li>
</ul>
</div>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>

    <!-- Content Column -->
    <div class="col-md-9">
        <div class="post-header">
   <h1 class="post-title-main">Documentation Guide</h1>
</div>



<div class="post-content">

   

    

    

    

    

  <h2 id="documentation-theme-for-jekyll">Documentation Theme for Jekyll</h2>

<p><a href="http://idratherbewriting.com/documentation-theme-jekyll/index.html">http://idratherbewriting.com/documentation-theme-jekyll/index.html</a></p>

<h2 id="general-kramdown-syntax">General Kramdown Syntax</h2>

<p><a href="https://kramdown.gettalong.org/syntax.html">https://kramdown.gettalong.org/syntax.html</a></p>

<h2 id="front-matter">Front Matter</h2>

<p>Each markdown file needs to start with some front matter:</p>

<div class="language-md highlighter-rouge"><pre class="highlight"><code>title: Documentation Guide
last_updated: 2016-09-27 
sidebar: tdsTutorial_sidebar
toc: false
permalink: doc_guide.html
</code></pre>
</div>

<h2 id="headers">Headers</h2>

<p>All headings start off as level 2.
The <code class="highlighter-rouge">title</code> set in the front matter will be displayed at the top of the rendered html page and uses the level 1 heading.
Headings, and their level number, are denoted by the number of hashtags on a line:</p>

<h1 id="level-1">level 1</h1>
<h2 id="level-2">level 2</h2>
<h3 id="level-3">level 3</h3>

<div class="language-md highlighter-rouge"><pre class="highlight"><code><span class="gh"># level 1</span>
<span class="gu">## level 2</span>
<span class="gu">### level 3</span>
</code></pre>
</div>

<h2 id="netcdf-java-tds-jargon">netCDF-Java, TDS jargon</h2>

<p>italicize TDS specific jargon on first use:</p>

<p><em>catalog roots</em></p>

<p><em>client catalog</em></p>

<p><em>configuration catalog</em></p>

<div class="language-md highlighter-rouge"><pre class="highlight"><code><span class="ge">_catalog roots_</span>

<span class="ge">_client catalog_</span>

<span class="ge">_configuration catalog_</span>
</code></pre>
</div>

<p>inline text html, xml elements, properties, code variables, snippits, file paths, surround in back ticks, like this:</p>

<p><code class="highlighter-rouge">&lt;catalog&gt;</code></p>

<div class="language-md highlighter-rouge"><pre class="highlight"><code><span class="sb">`&lt;catalog&gt;`</span>
</code></pre>
</div>

<h2 id="keeping-git-diffs-clean">Keeping git diffs clean</h2>

<p>One line of text per line in file
blank line needed for new paragraph, so no formatting issue in doing this.
this keeps git diff clean</p>

<div class="language-md highlighter-rouge"><pre class="highlight"><code>One line of text per line in file
blank line needed for new paragraph, so no formatting issue in doing this.
this keeps git diff clean
</code></pre>
</div>

<h2 id="links">links</h2>

<p>General format is:</p>

<div class="language-md highlighter-rouge"><pre class="highlight"><code><span class="p">[</span><span class="nv">text of link</span><span class="p">](</span><span class="sx">url</span><span class="p">)</span>{:target="_blank"}
</code></pre>
</div>

<p>When linking between markdown files, the <code class="highlighter-rouge">url</code> will be the permalink defined in the front matter of the markdown file you wish to link to.</p>

<h2 id="highlight-blocks">highlight blocks</h2>

<p>These templates under the top level <code class="highlighter-rouge">_includes/</code> directory.
Here is what we have right now:</p>

<p>{%include troubleshooting.html content=”
Troubleshooting block.
“ %}</p>

<p>{%include note.html content=”
Note block.
“ %}</p>

<p>{%include important.html content=”
Important block.
“ %}</p>

<p>{%include question.html content=”
Question block.
“ %}</p>

<p>{%include ahead.html content=”
Thinking ahead block
“ %}</p>

<div class="highlighter-rouge"><pre class="highlight"><code><span class="p">{</span><span class="err">%raw%</span><span class="p">}{</span><span class="err">%include</span><span class="w"> </span><span class="err">troubleshooting.html</span><span class="w"> </span><span class="err">content=</span><span class="nt">"
Troubleshooting block.
"</span><span class="w"> </span><span class="err">%}</span><span class="p">{</span><span class="err">%endraw%</span><span class="p">}</span><span class="w">

</span><span class="p">{</span><span class="err">%raw%</span><span class="p">}{</span><span class="err">%include</span><span class="w"> </span><span class="err">note.html</span><span class="w"> </span><span class="err">content=</span><span class="nt">"
Note block.
"</span><span class="w"> </span><span class="err">%}</span><span class="p">{</span><span class="err">%endraw%</span><span class="p">}</span><span class="w">

</span><span class="p">{</span><span class="err">%raw%</span><span class="p">}{</span><span class="err">%include</span><span class="w"> </span><span class="err">important.html</span><span class="w"> </span><span class="err">content=</span><span class="nt">"
Important block.
"</span><span class="w"> </span><span class="err">%}</span><span class="p">{</span><span class="err">%endraw%</span><span class="p">}</span><span class="w">

</span><span class="p">{</span><span class="err">%raw%</span><span class="p">}{</span><span class="err">%include</span><span class="w"> </span><span class="err">question.html</span><span class="w"> </span><span class="err">content=</span><span class="nt">"
Question block.
"</span><span class="w"> </span><span class="err">%}</span><span class="p">{</span><span class="err">%endraw%</span><span class="p">}</span><span class="w">

</span><span class="p">{</span><span class="err">%raw%</span><span class="p">}{</span><span class="err">%include</span><span class="w"> </span><span class="err">ahead.html</span><span class="w"> </span><span class="err">content=</span><span class="nt">"
Thinking ahead block
"</span><span class="w"> </span><span class="err">%}</span><span class="p">{</span><span class="err">%endraw%</span><span class="p">}</span><span class="w">
</span></code></pre>
</div>

<h2 id="images">images</h2>

<p>Image</p>

<div class="highlighter-rouge"><pre class="highlight"><code><span class="p">{</span><span class="err">%raw%</span><span class="p">}{</span><span class="err">%</span><span class="w"> </span><span class="err">include</span><span class="w"> </span><span class="err">image.html</span><span class="w"> </span><span class="err">file=</span><span class="nt">"&lt;location of image starting at images/&gt;"</span><span class="w"> </span><span class="err">alt=</span><span class="nt">"alt text"</span><span class="w"> </span><span class="err">caption=</span><span class="nt">"caption"</span><span class="w"> </span><span class="err">%}</span><span class="p">{</span><span class="err">%endraw%</span><span class="p">}</span><span class="w">
</span></code></pre>
</div>

<p>Note that you must always include a caption, even if it is empty.
For example, to link to the image <code class="highlighter-rouge">$PATH_TO_GIT_REPO/thredds-doc/images/sl_website-under-construction.jpeg</code>:</p>

<p>{% include image.html file=”sl_website-under-construction.jpeg” alt=”alt text” caption=”” %}</p>

<div class="language-md highlighter-rouge"><pre class="highlight"><code>{%raw%}{% include image.html file="sl_website-under-construction.jpeg" alt="alt text" caption="" %}{%endraw%}
</code></pre>
</div>

<h2 id="sidebars">sidebars</h2>

<p>Sidebar information can be found under <code class="highlighter-rouge">_data/sidebars/</code>.
For example, the sidebar used in the TDS Tutorial is <code class="highlighter-rouge">_data/sidebars/tdsTutorial_sidebar.yml</code>.
If you add a new sidebar, you will need to make sure to add it to the <code class="highlighter-rouge">_config.yml</code> file at the top level of the docs directory, as well as the sidebar config, located at <code class="highlighter-rouge">_includes/custom/sidebarconfigs.html</code></p>

<h2 id="indenting-text-code-blocks-etc-in-a-list">Indenting text, code blocks, etc. in a list:</h2>

<ol>
  <li>
    <p>Restart Tomcat so the TDS is reinitialized:</p>

    <div class="language-bash highlighter-rouge"><pre class="highlight"><code><span class="gp">$ </span><span class="nb">cd</span> <span class="k">${</span><span class="nv">tomcat_home</span><span class="k">}</span>/bin
<span class="gp">$ </span>./shutdown.sh
<span class="gp">$ </span>./startup.sh
</code></pre>
    </div>

    <div class="language-md highlighter-rouge"><pre class="highlight"><code>~~~bash
$ cd ${tomcat_home}/bin
$ ./shutdown.sh
$ ./startup.sh
~~~
</code></pre>
    </div>

    <p>All indented text are aligned with the “R” in “Restart”, which is 3 spaces.
Alignment is with the start of the text in the bullet of the list.
This works the same way with nested lists as w</p>
  </li>
  <li>
    <p>Using the <code class="highlighter-rouge">~</code> character in code blocks</p>

    <p>In order to get the <code class="highlighter-rouge">~~~bash~~~</code> and <code class="highlighter-rouge">~~~</code> to show up in the code block above, I had to do the following:</p>

    <div class="language-md highlighter-rouge"><pre class="highlight"><code>~~~~~md 
<span class="p">~~~</span><span class="nl">bash</span>
<span class="gp">$ </span><span class="nb">cd</span> <span class="k">${</span><span class="nv">tomcat_home</span><span class="k">}</span>/bin
<span class="gp">$ </span>./shutdown.sh
<span class="gp">$ </span>./startup.sh
<span class="p">~~~</span>
~~~~~
</code></pre>
    </div>

    <p>Whatever hightlighting you would like, just make sure it has more <code class="highlighter-rouge">~</code> characters than any nested code blocks.</p>
  </li>
</ol>

<h2 id="include-content-contained-in-external-file">Include content contained in external file</h2>

<p>In order to link the same content in multiple tutorials or documentation sets, you need to keep the actual content in a separate file that the markdown file containing the frontmatter.
Take this guide for example.
This guide is used in both the netCDF-Java tutorial and the TDS Tutorial.
In order to do this, we need to create a markdown for each tutorial.
For example, <code class="highlighter-rouge">pages/tds_tutorial/developer/DocGuide.md</code></p>

<div class="language-md highlighter-rouge"><pre class="highlight"><code><span class="nn">---</span>
<span class="s">title</span><span class="pi">:</span> <span class="s">Documentation Guide</span>
<span class="s">last_updated</span><span class="pi">:</span> <span class="s">2017-02-17</span> 
<span class="s">sidebar</span><span class="pi">:</span> <span class="s">tdsTutorial_sidebar</span>
<span class="s">toc</span><span class="pi">:</span> <span class="s">false</span>
<span class="s">permalink</span><span class="pi">:</span> <span class="s">tds_doc_guide.html</span>
<span class="nn">---</span>

{% markdown pages/netcdfJava/developer/DocGuide.inc %}
</code></pre>
</div>

<p>and <code class="highlighter-rouge">pages/netcdfJava/developer/DocGuide.md</code></p>

<div class="language-md highlighter-rouge"><pre class="highlight"><code><span class="nn">---</span>
<span class="s">title</span><span class="pi">:</span> <span class="s">Documentation Guide</span>
<span class="s">last_updated</span><span class="pi">:</span> <span class="s">2017-02-17</span> 
<span class="s">sidebar</span><span class="pi">:</span> <span class="s">netcdfJavaTutorial_sidebar</span>
<span class="s">toc</span><span class="pi">:</span> <span class="s">false</span>
<span class="s">permalink</span><span class="pi">:</span> <span class="s">ncj_doc_guide.html</span>
<span class="nn">---</span>

{% markdown pages/netcdfJava/developer/DocGuide.inc %}
</code></pre>
</div>

<p>Each markdown file contains both identical (title, last_update, toc) as well as unique (sidebar, permalink) frontmatter, but references the same actual content, which is contained within the file <code class="highlighter-rouge">pages/netcdfJava/developer/DocGuide.inc</code>
This is the only way to have the same information contained within different tutorials, while preserving the tutorial sidebar.</p>



    <div class="tags">
        
    </div>

    

</div>

<hr class="shaded"/>

<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               &copy;2017 Unidata. All rights reserved. <br />
<span>Page last updated:</span> 2016-09-27<br/> Site last generated: Sep 14, 2017 <br />
<p><img src="http://www.unidata.ucar.edu/images/logo.png" alt="UCAR/Unidata"/></p>
                </div>
            </div>
</footer>


    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
    </div>

</body>

<!-- the google_analytics_id gets auto inserted from the config file -->



<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-92978945-1','auto');ga('require','displayfeatures');ga('send','pageview');</script>


</html>